body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  text-align: center;
}

h1 {
  font-size: 3rem;
}

a {
  font-weight: bold;
}
