@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Merriweather:wght@300;400&family=UnifrakturCook:wght@700&display=swap');

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
}

:root {
  /* Color scheme variables */
  --desert-dark: #ff9843;
  --desert-light: #e4b97a;
  --neutral: #a8b38e;
  --oasis-light: #59897c;
  --oasis-dark: #50726a;
  --text-foreground: #342519;
  --text-background: #f5efeadf;
  /* Padding and margins */
  --standard-padding: 2em 2.5em;
  /* Transition */
  --transition: all 0.2s ease-in-out;
  /* Width */
  --width: clamp(200px, calc(95vw - 4em), 500px);
}

/* Global styles */
body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: var(--text-foreground);
  background: var(--desert-light);
  padding-top: 5rem;
  min-width: 320px;
}

a {
  text-decoration: none;
  color: inherit;
  transition: var(--transition);
  position: relative;
}

a:hover {
  color: var(--oasis-dark);
}

#main_header nav,
h2 {
  font-family: 'Merriweather Sans', sans-serif;
  font-weight: 700;
  font-size: 2em;
}

h3 {
  font-family: 'Merriweather', serif;
  font-weight: 300;
}

section {
  padding: 2em;
  position: relative;
}

/* Main header styles: mobile */
#main_header {
  position: fixed;
  overflow: hidden;
  width: max(320px, 100vw);
  height: 5rem;
  background: var(--desert-dark);
  top: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
}

#main_header > div {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: var(--standard-padding);
  width: clamp(200px, 100vw, 1400px);
}

#main_header header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

#logo {
  font-family: 'UnifrakturCook', cursive;
  font-size: 2em;
}

#main_header nav {
  text-transform: lowercase;
  font-variant: small-caps;
  font-size: x-large;
  margin-top: 1em;
  z-index: 2;
  background-color: var(--desert-dark);
  width: 100vw;
  position: absolute;
  left: 0;
  display: flex;
  justify-content: center;
}

#main_header nav > ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Never display checkbox used for mobile menu logic */
#menu {
  display: none;
}

/* Overview section styles: mobile */
#overview_section > img {
  display: none;
}

#overview_section {
  background: url('../images/igorrr-alcatraz-2022_172.webp') center center /
    cover;
  background-attachment: fixed;
}

#overview_section > article {
  margin: auto;
  padding: var(--standard-padding);
  width: var(--width);
  background: var(--text-background);
}

#overview_section h2 {
  color: var(--text-background);
  text-align: center;
}

#overview_section h2,
#overview_section p {
  margin-bottom: 0.5em;
}

/* Timetable styles: mobile */
#timetable_section {
  padding: 0;
  width: max(200px, calc(95vw - 4em));
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#timetable_section > h2::before {
  /* no longer works, not aligned with rest of timeline, fix later */
  content: '';
  width: 0.1em;
  background: #000;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0.2em;
  margin: auto;
}

#timetable_section > h2 {
  position: relative;
  text-align: center;
  padding: var(--standard-padding);
  width: 100%;
}

#events {
  display: grid;
  grid-template: repeat(4, 1fr) / 2em 1fr;
  gap: 0;
}

.event__timeline {
  position: relative;
  height: 100%;
  width: 100%;
}

.event__timeline > svg {
  height: 0.5em;
  width: auto;
  position: absolute;
  top: calc(50% - 0.25em);
  left: calc(50% - 0.25em);
}

.event__timeline::after,
.event__timeline::before {
  content: '';
  background: #000;
  width: 0.1em;
  left: calc(50% + 0.2em);
  position: absolute;
}

.event__timeline::before {
  top: 0;
  bottom: calc(50% + 0.5em);
}

.event__timeline::after {
  top: calc(50% + 0.5em);
  bottom: 0;
}

.event {
  width: var(--width);
  margin: 1em auto;
}

.event__details {
  display: flex;
  justify-content: space-between;
}

.event__date {
  white-space: nowrap;
}

.event_location {
  text-align: right;
}

/* Signup form styles: mobile */
#signup_section {
  background: url('../images/desert-background.svg') bottom right / cover;
}

#signup_section > form {
  background: var(--text-background);
  padding: var(--standard-padding);
  padding-bottom: 3em;
  position: relative;
  width: clamp(200px, calc(95vw - 4em), 500px);
  margin: auto;
}

#signup_section .form__group {
  position: relative;
  margin: 2em auto;
  width: fit-content;
}

#signup_section input {
  border: none;
  border-bottom: var(--text-foreground) 1px solid;
  background: transparent;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
}

#signup_section label {
  position: absolute;
  left: 0;
  transition: var(--transition);
}

#signup_section input:focus ~ label,
#signup_section input:not(:placeholder-shown) ~ label {
  transform: translateY(-1.5em);
}

#signup_section button {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border: none;
  font-family: inherit;
  text-transform: uppercase;
  background: var(--desert-dark);
  color: var(--text-background);
  padding: 1em;
  cursor: pointer;
  transition: var(--transition);
}

#signup_section button:hover {
  background: var(--oasis-dark);
}

/* Footer styles: mobile */
#main_footer {
  background: var(--desert-dark);
  color: var(--text-background);
}

#main_footer ul {
  display: flex;
  justify-content: space-around;
  padding: 1em 0;
  font-size: 1.5em;
  width: var(--width);
  margin: auto;
}

@media screen and (max-width: 991px) {
  /* Mobile menu */
  #menu:not(:checked) ~ label > .menu,
  #menu:checked ~ label > .close,
  header:has(#menu:checked) ~ nav {
    display: flex;
  }

  #menu:checked ~ label > .menu,
  #menu:not(:checked) ~ label .close,
  header:has(#menu:not(:checked)) ~ nav {
    display: none;
  }

  .menu,
  .close {
    cursor: pointer;
    /* taken from https://www.w3schools.com/howto/howto_css_disable_text_selection.asp */
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
  }
}

@media screen and (min-width: 768px) {
  h2 {
    font-size: 4.8vw;
  }

  #overview_section > h2 {
    position: sticky;
    left: 0;
    top: 100px;
    width: fit-content;
  }

  #overview_section > article {
    margin-top: -5vw;
    transform: translateX(15vw);
  }

  #timetable_section > h2 {
    position: absolute;
    padding: 0;
    right: 0;
    width: fit-content;
  }

  #timetable_section > h2::before {
    display: none;
  }

  #events {
    grid-template: repeat(4, 1fr) / 1fr 2em 1fr;
    width: min(90vw, 900px);
    /* overflow: hidden; /* to test where the width is comming from */
  }

  .event {
    width: 100%;
  }

  .event__timeline {
    grid-column: 2 / 3;
  }

  .event:nth-child(2) {
    grid-area: 1 / 1 / 2 / 2;
  }

  .event:nth-child(6) {
    grid-area: 3 / 1 / 4 / 2;
  }
}

@media screen and (min-width: 992px) {
  body {
    font-size: 22px;
  }

  .menu,
  .close {
    display: none !important;
  }

  #main_header nav {
    top: 0;
    right: 0;
    left: auto;
    width: fit-content;
    align-items: center;
    margin-top: 0;
    height: 100%;
  }

  #main_header nav > ul {
    flex-direction: row;
    gap: 1em;
    padding: 0 1em;
  }
}
