@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Merriweather:wght@300;400&family=UnifrakturCook:wght@700&display=swap');

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:root {
  /* Color scheme variables */
  --desert-dark: #ff9843;
  --desert-light: #e4b97a;
  --neutral: #a8b38e;
  --oasis-light: #59897c;
  --oasis-dark: #50726a;
  --text-foreground: #342519;
  --text-background: #f5efeadf;
  /* Padding and margins */
  --standard-padding: 2em 2.5em;
  /* Transition */
  --transition: all 0.2s ease-in-out;
  /* Width */
  --width: calc(95vw - 4em);
}

/* Global styles */
body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: var(--text-foreground);
  background: var(--desert-light);
  padding-top: 5rem;
}

a {
  text-decoration: none;
  color: inherit;
  transition: var(--transition);
  position: relative;
}

a:hover {
  color: var(--oasis-dark);
}

#main_header > nav,
h2,
h3 {
  font-family: 'Merriweather', serif;
  font-weight: 300;
}

section {
  padding: 2em;
}

/* Main header styles: mobile */
#main_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--standard-padding);
  position: fixed;
  width: 100vw;
  height: 5rem;
  background: var(--desert-dark);
  top: 0;
}

#logo {
  font-family: 'UnifrakturCook', cursive;
  font-size: 2em;
}

#main_header > nav {
  text-transform: lowercase;
  font-variant: small-caps;
}

#main_header > nav > ul {
  text-align: right;
}

/* Overview section styles: mobile */
#overview_section > img {
  display: none;
}

#overview_section {
  background: url('../images/igorrr-alcatraz-2022_172.jpg') center center /
    cover;
}

#overview_section > article {
  margin: auto;
  padding: var(--standard-padding);
  width: var(--width);
  background: var(--text-background);
}

#overview_section h2,
#overview_section p {
  margin-bottom: 0.5em;
}

/* Timetable styles: mobile */
#timetable_section {
  padding: 0;
}

#timetable_section > h2 {
  text-align: center;
  padding: var(--standard-padding);
}

#events {
  width: 100vw;
  display: grid;
  grid-template: repeat(4, 1fr) / 1fr 1fr;
  gap: 0;
}

.event__timeline {
  position: relative;
  height: 100%;
  width: 100%;
}

.event__timeline > img {
  height: 0.5em;
  position: absolute;
  top: calc(50% - 0.25em);
  left: calc(50% - 0.25em);
  z-index: -1;
}

.event__timeline::after,
.event__timeline::before {
  content: '';
  background: #000;
  width: 4px;
  left: calc(50% + 2px);
  position: absolute;
  z-index: -1;
}

.event__timeline::before {
  top: 0;
  bottom: calc(50% + 0.5em);
}

.event__timeline::after {
  top: calc(50% + 0.5em);
  bottom: 0;
}

.event {
  width: var(--width);
  margin: 1em auto;
}

.event__details {
  display: flex;
  justify-content: space-between;
}

.event__date {
  white-space: nowrap;
}

.event_location {
  text-align: right;
}

/* Signup form styles: mobile */
#signup_section {
  background: url('../images/desert-background.svg') bottom right / cover;
}

#signup_section > form {
  background: var(--text-background);
  padding: var(--standard-padding);
  padding-bottom: 3em;
  position: relative;
}

#signup_section button {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border: none;
  font-family: inherit;
  text-transform: uppercase;
  background: var(--desert-dark);
  color: var(--text-background);
  padding: 1em;
  cursor: pointer;
  transition: var(--transition);
}

#signup_section button:hover {
  background: var(--oasis-dark);
}

/* Footer styles: mobile */
#main_footer {
  background: var(--desert-dark);
  color: var(--text-background);
}

#main_footer ul {
  display: flex;
  justify-content: space-around;
  padding: 1em 0;
  font-size: 1.5em;
}
