@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Merriweather:wght@300;400&family=UnifrakturCook:wght@700&display=swap');

* {
  box-sizing: border-box;
}

/* Color scheme variables */
:root {
  --desert-dark: #ff9843;
  --desert-light: #e4b97a;
  --neutral: #a8b38e;
  --oasis-light: #59897c;
  --oasis-dark: #50726a;
  --text-foreground: #342519;
  --text-background: #f5efeadf;
}

/* Global styles */
body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--text-foreground);
  background: var(--desert-light);
}

a {
  text-decoration: none;
  color: inherit;
  transition: all 0.2s ease-in-out;
  position: relative;
}

a::after {
  content: '';
  background-color: var(--desert-dark);
  width: 0;
  height: 100%;
  position: absolute;
  right: 0;
  transform-origin: right;
  transition: all 0.2s ease-in-out;
  z-index: -1;
}

a:hover {
  color: var(--oasis-dark);
}

a:hover::after {
  width: 100%;
}

#main_header > nav,
h2,
h3 {
  font-family: 'Merriweather', serif;
  font-weight: 300;
}

/* Main header styles: mobile */
#main_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.2em 0.5em;
}

#logo {
  font-family: 'UnifrakturCook', cursive;
  font-size: 2em;
}

#main_header > nav {
  text-transform: lowercase;
  font-variant: small-caps;
}

#main_header > nav > ul {
  text-align: right;
}

/* Overview section styles: mobile */
#overview_section > img {
  display: none;
}

#overview_section {
  background: url('../images/igorrr-alcatraz-2022_172.jpg') center center /
    cover;
  padding: 2em;
}

#overview_section > article {
  margin: auto;
  padding: 2em 2.5em;
  width: calc(95vw-4em);
  background: var(--text-background);
}

#overview_section h2,
#overview_section p {
  margin-bottom: 0.5em;
}
